<a href="https://colab.research.google.com/github/devkegovind/Python-Pandas/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align='center'><b>Python Pandas</b></h1>

<h4 align='justify'>Pandas is defined as an open-source library that provides high-performance data manipulation in Python. The name of Pandas is derived from the word <b>Panel Data,</b> which means <b>an Econometrics from Multidimensional data.</b> It is used for data analysis in Python and developed by <b>Wes McKinney</b> in <b>2008</b>.
<h4 align='justify'>Data Analysis lots of processing, such as <b>restructuring, cleaning or merging</b>,etc. There are different tools are available for data processing, such as <b>Numpy, Scipy, Cython</b>, and <b>Panda</b>. But we prefer Pandas because working with It is fast, simple and more expressive than other tools.</h4>
<h4 align='justify'>Pandas is built on top of the <b>Numpy</b> package, means <b>Numpy</b> is required for operating the Pandas.Before Pandas, Python was capable for data preparation, but it only provided limited support for data analysis. So, Pandas came into the picture and enhanced the capabilities of data analysis. It can perform five significant steps required for processing and analysis of data irrespective of the origin of the data, i.e.,<b>load, manipulate, prepare, model, and analyze.</b>
<h3 align='justify'><b>Key Features of Pandas</b></h3>

*   It has a fast and efficient DataFrame object with the default and customized indexing.
*   Used for reshaping and pivoting of the data set.
*   Group by data for aggregations and transformation.
*  It is used for data alignment and integration of the missing data.
*  Provide the functionality of Time Series.
* Process a variety of data sets in different formats like matrix data, tabular heterogenous, time series.
* Handle multiple operations of the data sets such as subsetting, slicing,filtering, groupBy, re-ordering, and re-shaping.
* It integrates with the other libraries such as Scipy, and scikit-learn.
* Provides fast performance, and if you want to speed it, even more, you can use the <b>Cython</b>.
<h3><b>Python Pandas Data Structure</b></h3>
<h4 align='justify'>The Pandas provides two data structures for processing the data, i.e.<b>Series</b> and <b>DataFrame</b> which are discussed below;</h4>
<h4><b>1.Series</b></h4>
<h4 align='justify'>It is defined as a one-dimensional array that is capable of storing various data types. The row labels of series are called the <b>index</b>. We can easily convert the list, tuple and dictionary into series using "series" method. A series cannot contain multiple columns. It has one parameter:</h4>
<h4><b>Data</b>: It can be any list, dictionary, or scalar value.</h4>
<h4><b>Creating a Series:</b></h4>

<h4><b>Series = Data + index + dtype</b></h4>

<h4>Create an Empty Series</h4>

In [1]:
import pandas as pd
x = pd.Series()
print(x)

Series([], dtype: float64)

<ipython-input-1-c4a77307cad2>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  x = pd.Series()

<h4>Create a Series from Array</h4>

In [2]:
import numpy as np
info = np.array(['p', 'q', 'r', 's'])
a = pd.Series(info)
print(a)

0    p
1    q
2    r
3    s
dtype: object

<h4>Create Series from dictionary</h4>

In [3]:
info = {'x': 0, 'y' : 1, 'z' : 2}
a = pd.Series(info)
print(a)

x    0
y    1
z    2
dtype: int64

<h4>Create a Series using scalar</h4>

In [4]:
x = pd.Series(4, index = [0, 1, 2, 3])
print(x)

0    4
1    4
2    4
3    4
dtype: int64

<h4>Defines the index of the Series</h4>

In [5]:
x.index

Int64Index([0, 1, 2, 3], dtype='int64')

<h4>Defines the Shape of the Series</h4>

In [6]:
x.shape

(4,)

<h4>Defines the Data Type of Series</h4>

In [7]:
x.dtype

dtype('int64')

<h4>Defines the Size of the Series</h4>

In [8]:
x.size

4

<h4>Defines the Dimension of the Series</h4>

In [9]:
x.ndim

1

<h4>Create a Series From List</h4>

In [10]:
list1 = ['a', 'c', 2, 2.5]
a = pd.Series(list1)
print(a)

0      a
1      c
2      2
3    2.5
dtype: object

<h4 align='justify'><b>Binary Operation on Series</b></h4>
<h4 align='justify'>We can perform binary operation on series like addition, subtraction and many other operation. In order to perform binary operation on series we have to use some function like .add(),.sub() etc..</h4>

In [11]:
data = pd.Series([5,2, 3, 7], index = ['a', 'b', 'c', 'd'])

data1 = pd.Series([1, 6, 4, 9], index =['a', 'b', 'd', 'e'])

print(data, "\n\n", data1)

a    5
b    2
c    3
d    7
dtype: int64

 a    1
b    6
d    4
e    9
dtype: int64

<h4>Adding Two Series Using .add</h4>

In [12]:
data.add(data1, fill_value = 0)

a     6.0
b     8.0
c     3.0
d    11.0
e     9.0
dtype: float64

In [13]:
data = pd.Series([5, 2, 3, 7], index=['a', 'b', 'c', 'd'])

data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])

print(data, "\n\n", data1)

a    5
b    2
c    3
d    7
dtype: int64

 a    1
b    6
d    4
e    9
dtype: int64

<h4>Subtracting Two Series Using .sub</h4>

In [14]:
data.sub(data1, fill_value=0)

a    4.0
b   -4.0
c    3.0
d    3.0
e   -9.0
dtype: float64

![image.png]()

<h4><b>Accessing Data from Series with Position</b></h4>
<h4 align='justify'>Data in the series can be accessed similar to that in an ndarray.</h4>

<h4><b>Example 1</b></h4>
<h4 align='justify'>Retrieve the first element. As we already know, the counting starts from zero for the array, which means the first element is stored at zeroth position and so on.</h4>

In [15]:
s = pd.Series([1, 2, 3, 4, 5], index = ['a', 'b', 'c', 'd', 'e'])

# retrieve the first element
print(s[0])

1

<h4><b>Example 2</b></h4>
<h4 align='justify'>Retrieve the first three elements in the Series. If a : is inserted in front of it, all items from that index onwards will be extracted. If two parameters (with : between them) is used, items between the two indexes (not including the stop index)</h4>

In [16]:
# retrieve the first three element
print(s[:3])

a    1
b    2
c    3
dtype: int64

<h4><b>Example 3</b></h4>
<h4>Retrieve the last three elements.</h4>

In [17]:
print(s[-3:])

c    3
d    4
e    5
dtype: int64

<h4><b>Retrieve Data Using Label (Index)</b></h4>
<h4 align='justify'>A Series is like a fixed-size dict in that you can get and set values by index label.</h4>

<h4><b>Example 1</b></h4>
<h4>Retrieve a single element using index label value.<h4>

In [18]:
# retrieve a single element
print(s['a'])

1

<h4><b>Example 2</b></h4>
<h4>Retrieve multiple elements using a list of index label values.</h4>

In [19]:
print(s[['a', 'c', 'd']])

a    1
c    3
d    4
dtype: int64

<h4><b>Example 3</b></h4>
<h4>If a label is not contained, an exception is raised.</h4>

In [20]:
s1 = pd.Series([1, 2, 3, 4, 5], index = ['a', 'b', 'c', 'd', 'e','f'])

#retrieve element
print(s['f'])

ValueError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

<h4>Summarized Report On the Series</h4>
 - Describe: Generate Descriptive Statistics.

In [ ]:
s.describe()

In [ ]:
s.describe()['count']

In [ ]:
s.describe()[['count', 'max']]

<h4>Fetch Values of Series</h4>

In [ ]:
s.values

<h4>Create Labels</h4>
- with the `index` argument, you can name your own labels.

In [ ]:
import pandas as pd

a = [1, 7, 2]

s2 = pd.Series(a, index = ['a', 'b', 'c'])

print(s2)

<h4>Create a Series using only data from Specific keys.</h4>

In [ ]:
calories = {'day1' : 420, 'day2':380, 'day3':390}

s3 = pd.Series(calories, index = ['day1', 'day2'])

print(s3)

<h4>Access an item by referring to the label</h4>

In [ ]:
print(s3['day2'])

<h4>Create Multiple indexes for the data</h4>

In [ ]:
info = pd.Series([11, 14, 17, 24, 19, 32, 34, 27], index = [['x', 'x', 'x', 'x', 'y', 'y', 'y', 'y'], ['obj1', 'obj2', 'obj3', 'obj4', 'obj1', 'obj2', 'obj3', 'obj4']])

print(info)

<h4>Partial indexing</h4>
- Partial indexing can be defined as a way to choose the particular index from a hierarchical indexing.

In [ ]:
info[: 'obj1']

<h3><b>DataFrames</b></h3>
<h4>Data sets in Pandas are usually multi-dimensional tables, called DataFrames.</h4>

<h4>Series is like a column, a DataFrame is the whole table.</h4>

<h4>Example</h4>
<h4>Create a DataFrame from two Series</h4>

In [ ]:
data = {"calories": [420, 380, 390], "duration" : [50, 40, 45]}

myvar = pd.DataFrame(data)

print(myvar)

In [ ]:
myvar

<h4>Fetch First Five Entries of Series</h4>

In [21]:
s.head()

a    1
b    2
c    3
d    4
e    5
dtype: int64

<h4>Fetch First Two Entries/Records of Series</h4>

In [22]:
s.head(2)

a    1
b    2
dtype: int64

<h4>Fetch Last Five Entries of Series</h4>

In [23]:
s.tail()

a    1
b    2
c    3
d    4
e    5
dtype: int64

<h4>Fetch Last Two Entries of Series</h4>

In [24]:
s.tail(2)

d    4
e    5
dtype: int64

<h4>Fetch Unique Records From Series</h4>

In [25]:
g = pd.Series([10, 20, 10, 20])
g

0    10
1    20
2    10
3    20
dtype: int64

In [26]:
g.unique()

array([10, 20])

<h4>Count The Total Unique Records Present in Series</h4>

In [28]:
g.nunique()

2

<h4>Occurance of Ecah Unique Records</h4>

In [29]:
g.value_counts()

10    2
20    2
dtype: int64

<h4>Append Two Series</h4>

In [30]:
s3 = pd.Series([1, 2, 3, 1])
s3

0    1
1    2
2    3
3    1
dtype: int64

In [31]:
s4 = pd.Series([4, 5, 6])
s4

0    4
1    5
2    6
dtype: int64

In [32]:
s3.append(s4)

0    1
1    2
2    3
3    1
0    4
1    5
2    6
dtype: int64

<h4>Index which is in Continue Number</h4>

In [34]:
s3.append(s4, ignore_index = True)

0    1
1    2
2    3
3    1
4    4
5    5
6    6
dtype: int64

<h4>Return The Largest(Higher To Lowest Data) 'n' elements = 5</h4>
- Data we get in descending order.

In [35]:
s5 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])
s5

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
dtype: int64

In [36]:
s5.nlargest()

10    11
9     10
8      9
7      8
6      7
dtype: int64

<h4>Largest Three Records From Series</h4>

In [37]:
s.nlargest(3)

e    5
d    4
c    3
dtype: int64

<h4>Return The Smallest(Lowest To Higher Data) 'n' elements = 5</h4>
- Data we get in ascending order.

In [38]:
a = pd.Series([13, 44, 78, 90, 12, 44, 89, 95])
a

0    13
1    44
2    78
3    90
4    12
5    44
6    89
7    95
dtype: int64

In [39]:
a.nsmallest()

4    12
0    13
1    44
5    44
2    78
dtype: int64

<h4>Smallest Three Records From Series</h4>

In [41]:
a.nsmallest(3)

4    12
0    13
1    44
dtype: int64

<H4>How To Convert Series To a Different Data Type</h4>

In [42]:
a.dtype

dtype('int64')

<h4>Cast a Pandas object To a Specified dtype</h4>

In [44]:
a.astype('int32')

0    13
1    44
2    78
3    90
4    12
5    44
6    89
7    95
dtype: int32

In [46]:
a.astype('category')

0    13
1    44
2    78
3    90
4    12
5    44
6    89
7    95
dtype: category
Categories (7, int64): [12, 13, 44, 78, 89, 90, 95]

In [47]:
h = pd.Series(['HR', 'Tester', 'HR', 'Developer'])
h

0           HR
1       Tester
2           HR
3    Developer
dtype: object

In [48]:
h.__sizeof__()

375

In [49]:
h.astype('category')

0           HR
1       Tester
2           HR
3    Developer
dtype: category
Categories (3, object): ['Developer', 'HR', 'Tester']

In [50]:
c = h.astype('category')
c

0           HR
1       Tester
2           HR
3    Developer
dtype: category
Categories (3, object): ['Developer', 'HR', 'Tester']

In [51]:
c.__sizeof__()

428

<h4><b>Where</b></h4>
- Replace values where the condition is False.

In [54]:
s5

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
dtype: int64

In [57]:
s5.where(s5 < 5)

0     1.0
1     2.0
2     3.0
3     4.0
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
dtype: float64

In [58]:
s5.where(s5 < 5, other = 0)

0     1
1     2
2     3
3     4
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

In [59]:
s5[s5 > 0]

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
dtype: int64

<h4>Dealing With Missing Values</h4>

In [60]:
b = pd.Series([np.nan, 10, np.nan, 20, np.nan])
b

0     NaN
1    10.0
2     NaN
3    20.0
4     NaN
dtype: float64

<h4>Bool Series Will be Output</h4>

In [62]:
b.isna()

0     True
1    False
2     True
3    False
4     True
dtype: bool

<h4>Calculate Total nan Present in Series</h4>

In [63]:
b.isna().sum()

3

In [64]:
b.isnull().sum()

3

<h4>Fill nan value by Other value in Series</h4>

In [65]:
b.fillna(0)

0     0.0
1    10.0
2     0.0
3    20.0
4     0.0
dtype: float64

In [66]:
b.fillna('Missing')

0    Missing
1       10.0
2    Missing
3       20.0
4    Missing
dtype: object

<h4>Fill nan values Using mean() of Series</h4>

In [67]:
b.mean()

15.0

In [68]:
b.fillna(b.mean())

0    15.0
1    10.0
2    15.0
3    20.0
4    15.0
dtype: float64

<h4>Forward Filling</h4>

In [73]:
b.ffill() # Top to Bottom

0     NaN
1    10.0
2    10.0
3    20.0
4    20.0
dtype: float64

<h4>Backward Filling</h4>

<h4>ffill and bfill Using fillna() Method</h4>

In [75]:
b.fillna(method = 'ffill')

0     NaN
1    10.0
2    10.0
3    20.0
4    20.0
dtype: float64

In [76]:
b.fillna(method = 'bfill')

0    10.0
1    10.0
2    20.0
3    20.0
4     NaN
dtype: float64

In [74]:
b.bfill() # Bottom To Top

0    10.0
1    10.0
2    20.0
3    20.0
4     NaN
dtype: float64

<h4 align='justify'>Rather than Dealing with NaN, Simplest way is to remove NaN</h4>

In [78]:
# Return a new series with missing values removed.
b.dropna()

1    10.0
3    20.0
dtype: float64

<h4><b>Central Measures of Tendency</b></h4>

<h4><b>mean()</b></h4>

In [69]:
g

0    10
1    20
2    10
3    20
dtype: int64

In [70]:
g.mean()

15.0

<h4><b>median()</b></h4>

In [71]:
g.median()

15.0

<h4><b>mode()</b></h4>

In [72]:
g.mode()

0    10
1    20
dtype: int64

In [79]:
import pandas as pd

data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data/addresses.csv')
data

FileNotFoundError: ignored

In [ ]:
type(data)

In [ ]:
# Fetch First Five Records or Rows of the Data
data.head()

In [ ]:
data.head(6)

In [ ]:
# Fetch Last Five records or rows of the data
data.tail()

In [ ]:
data.tail(7)

In [ ]:
# Fetch the name of the columns/attributes of the data
data.columns

In [ ]:
list(data.columns)

In [ ]:
# Fetch the type of the column of data
type(data['state_province'])

In [ ]:
# Fetch the column of data
data['state_province']

In [ ]:
data.state_province

In [ ]:
data[['state_province']]

In [ ]:
type(data[['state_province']])

In [ ]:
# Fetch Multiple columns of data

data[['city', 'location_id']]

In [ ]:
pd.read_excel('/content/drive/MyDrive/Colab Notebooks/Data/airline.xls')

In [ ]:
pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Data/airline.xls")

In [ ]:
data1 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Data/airline.xls")

In [ ]:
data1

In [ ]:
data1.columns

In [ ]:
new_header = ['a', 'b', 'c', 'd', 'e', 'f']

data1.columns = new_header

In [ ]:
data1.to_csv('test1.csv', index = False)

In [ ]:
data1.to_excel("test2.xlsx")

In [ ]:
data1.head()

In [ ]:
data1.columns

In [ ]:
list(data1.columns)

In [ ]:
type(data1)

In [ ]:
type(data)

In [ ]:
data1[['b', 'c']]

In [ ]:
pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Data/addresses.csv")

In [ ]:
pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Data/contacts.csv")

In [ ]:
pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Data/locations.csv")

In [ ]:
pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Data/phones.csv")

In [ ]:
data2 = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [ ]:
data2

In [ ]:
type(data2)

In [ ]:
len(data2)

In [ ]:
data2[0]

In [ ]:
data2[0].to_csv("player.csv")